* {
    font-family: arial, helvetica, serif;
    font-size: 16px;
}

body {
    background-color: rgb(53, 121, 174);
    width: 1080px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(red, green, blue, alpha);
}

header {
    background-color: seashell;
    padding: 20px;
}

li {
    margin-bottom: 20px;
}